<style type="text/css">
  .borders {
    width: 280px;
    height: 280px;
    margin: 5px;
  }
  .itemsC {
    margin-top: 30px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
</style>
<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
  <div class="subtitle">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;<%=
    __('echarts') %>
  </div>
  <div class="items itemsC">
    <div id="test1" class="borders"></div>
    <div id="test2" class="borders"></div>
    <div id="test3" class="borders"></div>
  </div>
</div>

<script
  src="<%- url_for('/js/echarts.min.js') %>"
  type="text/javascript"
></script>
<script type="text/javascript">
      var myChart1 = echarts.init(document.getElementById("test1"));
      var myChart2 = echarts.init(document.getElementById("test2"));
      var myChart3 = echarts.init(document.getElementById("test3"));

      <%
      /* calculate postsOption data. */
      var startDate = moment().subtract(1, 'years').startOf('month');
      var endDate = moment().endOf('month');

      var monthMap = new Map();
      var dayTime = 3600 * 24 * 1000;
      for (var time = startDate; time <= endDate; time += dayTime) {
          var month = moment(time).format('YYYY-MM');
          if (!monthMap.has(month)) {
              monthMap.set(month, 0);
          }
      }

      // post and count map.
      site.posts.forEach(function (post) {
          var month = post.date.format('YYYY-MM');
          if (monthMap.has(month)) {
              monthMap.set(month, monthMap.get(month) + 1);
          }
      });

      // xAxis data and yAxis data.
      var monthArr = JSON.stringify([...monthMap.keys()]);
      var monthValueArr = JSON.stringify([...monthMap.values()]);
      %>

      var option1 = {
          title: {
              text: '<%- __("postPublishChart")  %>',
              x: 'center'
          },
          tooltip: {
              trigger: 'axis'
          },
          xAxis: {
              type: 'category',
              data: <%- monthArr %>
          },
          yAxis: {
              type: 'value',
          },
          series: [
              {
                  name: '<%- __("postsNumberName")  %>',
                  type: 'line',
                  color: ['#1E90FF'],
                  data: <%- monthValueArr %>,
                  markPoint: {
                      symbolSize: 45,
                      color: ['#7042B9'],
                      data: [{
                          type: 'max',
                          itemStyle: {color: ['#7042B9']},
                          name: '<%- __("maximum")  %>'
                      }]
                  },
              }
          ]
      };


      <%
      /* calculate categoriesOption data. */
      var categoryArr = [];
      site.categories.map(function(category) {
          categoryArr.push({'name': category.name, 'value': category.length})
      });

      var categoryArrJson = JSON.stringify(categoryArr);
      %>

      var option2 = {
          title: {
              text: '<%- __("categoriesChart")  %>',

              x: 'center'
          },
          tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          series: [
              {
                  name: '<%- __("categories")  %>',
                  type: 'pie',
                  radius: '50%',
                  color: ['#6772e5', '#ff9e0f', '#fa755a', '#3ecf8e', '#82d3f4', '#ab47bc', '#525f7f', '#f51c47', '#26A69A'],
                  data: <%- categoryArrJson %>,
                  itemStyle: {
                      emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                      }
                  }
              }
          ]
      };
      <%
    /* calculate tagsOption data. */
    // get all tags name and count,then order by length desc.
    var tagArr = [];
    site.tags.map(function(tag) {
        tagArr.push({'name': tag.name, 'value': tag.length});
    });
    tagArr.sort((a, b) => {return b.value - a.value});

    // get Top 10 tags name and count.
    var tagNameArr = [];
    var tagCountArr = [];
    for (var i = 0, len = Math.min(tagArr.length, 10); i < len; i++) {
        tagNameArr.push(tagArr[i].name);
        tagCountArr.push(tagArr[i].value);
    }

    var tagNameArrJson = JSON.stringify(tagNameArr);
    var tagCountArrJson = JSON.stringify(tagCountArr);
    %>

    var option3 = {
        title: {
            text: '<%- __("top10TagsChart")  %>',

            x: 'center'
        },
        tooltip: {},
        xAxis: [
            {
                type: 'category',
                data: <%- tagNameArrJson %>
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                type: 'bar',
                color: ['#1E90FF'],
                barWidth : 18,
                data: <%- tagCountArrJson %>,
                markPoint: {
                    symbolSize: 45,
                    data: [],
                },
            }
        ]
    };

  setTimeout(() => {
      myChart1.setOption(option1);
      myChart2.setOption(option2);
      myChart3.setOption(option3);
      window.οnresize = function () {
        myChart1.resize();
        myChart2.resize();
        myChart3.resize();
      };
  }, 500);
</script>
